/* Layout */
section {
	padding: 40px;
	border-bottom: 1px solid rgb(137, 145, 147); /* gray */
	background-color: rgb(255, 255, 255);
}
section:nth-of-type(even) {
	background-color: rgb(242, 242, 242);
}

/********* Colors **************
 black        - 0, 0, 0
 darker gray  - 39, 40, 41
 dark gray    - 69, 70, 71
 gray         - 113, 115, 117
 light gray   - 175, 178, 181
 lighter gray - 236, 240, 244
 off white    - 248, 250, 252
 white        - 255, 255, 255

 dark blue    - 37, 95, 148
 blue         - 77, 137, 191
 light blue   - 128, 187, 227
 lighter blue - 180, 217, 250
 
 green        - 140, 243, 189
 salmon       - 243, 150, 140
 peach        - 255, 211, 155
 yellow       - 255, 245, 152
 lavendar     - 176, 152, 255
*******************************/
#my-pagination {
	padding: 20px;
	border: 1px solid rgb(175, 178, 181); /* light gray */
	min-height: 90px;
}

#my-pagination button {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	width: 100px;
}
#my-pagination .spacer {
	display: inline-block;
	vertical-align: top;
	width: 40px;
}
#my-pagination > .prev-button::before,
#my-pagination > .prev5-button::before,
#my-pagination > .next-button::after,
#my-pagination > .next5-button::after {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 10px;
}
#my-pagination > .prev-button::before {
	content: "◀"; /* Unicode left arrow U+25C0 */	
}
#my-pagination > .prev5-button::before {
	content: "◀◀"; /* Unicode left arrow U+25C0 */
}
#my-pagination > .prev10-button::before {
	content: "◀◀"; /* Unicode left arrow U+25C0 */
}
#my-pagination > .next-button::after {
	content: "▶"; /* Unicode right arrow U+25B6 */
}
#my-pagination > .next5-button::after {
	content: "▶▶"; /* Unicode right arrow U+25B6 */
}
#my-pagination > .next10-button::after {
	content: "▶▶"; /* Unicode right arrow U+25B6 */
}